@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.topImage {
  background-position: center center;
  background-size: cover;
  height: 400px;
}

.topImage > div {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  color: #fff;
}

.banner_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.banner_contents > div:first-child {
  font-weight: bold;
  font-size: 50px;
  margin-top: auto;
}

.banner_contents > div:last-child {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: auto;
}

footer {
  padding: 50px 0px;
  background-color: #313131;
  color: #fff;
  margin-top: auto;
}

.banner_small {
  height: 300px;
}

.page {
  padding: 50px 0px;
}

.product_wrapper {
  margin: 50px 0px;
}

.product_item {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 100%;
  max-width: 350px;
  margin: 5px;
}

.product_image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #eee;
}

.product_item_text {
  padding: 15px;
}

.product_item_text > div:first-child {
  font-weight: bold;
  font-size: 15px !important;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.product_item_text > div:nth-child(2) {
  font-size: 13px !important;
  color: #555;
  margin-top: 0px;
}

.product_comment {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.model_image {
  text-align: center;
  background-color: #eee;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.model_image > img {
  height: 100%;
}

.fitting_category {
  /* min-width: 300px */
}

.fitting_category > div {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.fitting_category > div:hover {
  background-color: #eee;
  cursor: pointer;
}

.label_title {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.label_title > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  margin-top: 100px;
}

.hairshop {
  display: flex;
  justify-content: space-between;
}

.hairshop > div {
  width: 49%;
}

.colorHairItems {
}

.colorHairItem {
  display: inline-block;
  cursor: pointer;
}

.colorHairItem:hover > div, .colorHairItem.active > div {
  background-color: #f8f8f8;
}

.colorHairItem > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 5px;
  width: 100px;
  height: 100px;
}


.colorHairItem > div >div:first-child {
  width: 20px;
  height: 50px;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .fitting_category > div {
    padding: 10px;
    font-size: 13px;
  } 
  .fitting_category > div:hover {
  }
}

@media (max-width: 450px) {
  .topImage {
    height: 200px;
  }
  .banner_contents > div:first-child {
    font-size: 30px;
  }
  .banner_contents > div:last-child {
    font-size: 12px;
  }
  .page{
    padding: 0px;
  }
}

.menuItem {
  padding: 10px;
}

.search_bar {
  display: flex;
}

.search_bar > div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.search_space {
  background-color: #f6f6f6;
  padding: 30px 0px;
}

.color_tab {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-gap: 5px;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin: 0px 2px;
  margin-bottom: 10px
}

.color_tab_item {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.color_tab_item.active, .color_tab_item:hover {
  border: 5px solid #313131;
}

.search_bar {
  display: flex;
  justify-content: space-between;
} 

.hairstyleGroup {
  width: 600px;
  text-align: justify;
  /* display: grid; */

}

.hairstyleItem {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.hairstyleItem:hover, .hairstyleItem.active {
  background-color: #f2f2f2;
}

.hairstyleItem > div:first-child {
  width: 150px;
  height: 200px;
  background-position: center center;
  background-size: cover;
}

.hairstyleItem > div:last-child {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}